/* Created by Hirabayashi Naoki */
/* design updated and Made a templates extends by Yamamoto Sota */

@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer, main, aside {
  display: block;
}

#wrapper {
  min-width: 320px;
}

header {
  padding: 10px;
  background: #00081A; /* 檳榔子黒（Binroujikuro）*/
  color: #fff;
}

li {
  list-style: none;
}

#logo-img {
}

#signup-btn, #signin-btn, #menu-btn {
  margin: 5px;
  padding: 5px;
  background: #433D3C; /* 檳榔子染（Binroujizome） */
  color: #FCF5F7; /* 薄桜（Usuzakura） */
  border-style: none;
  border-radius: 5px;
}

#drawer-checkbox {
  display: none;
}

#drawer-icon {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  right: 1.5rem;
  top: 2.0rem;
  background: #FCF5F7; /* 薄桜（Usuzakura） */
  color: #00081A; /* 檳榔子黒（Binroujikuro）*/
  font-size: 1.5rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#drawer-icon:hover {
  opacity: 0.8;
}

ul {
  margin: 1.5rem;
  padding-top: 2.4rem;
  padding-left: 0;
}

li {
  list-style: none;
  margin: 1.0rem;
}

a {
  text-decoration: none;
  color: #FCF5F7;
}

#drawer-content {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  max-width: 90%;
  height: 100%;
  background: #433D3C; /* 檳榔子染（Binroujizome） */
  color: #FCF5F7; /* 薄桜（Usuzakura） */
  z-index: 1;
}

#drawer-checkbox:checked ~ #drawer-content {
  display: block;
  overflow: auto;
}

.menu-item {
}

#content {
  width: 100%;
  min-width: 320px;
  margin: 2em 0;
  padding: 0 0.5em;
}


/* Desktop */
@media (min-width: 768px) {
  #content {
    margin: 2em auto;
  }
}
