/* Created by Yamamoto Sota */

body {
    background-color: #FDFCF5; /* 白百合色（Shirayuri-iro） */
}
/*
img {
    max-width: 50%;
}
*/
div.box {
    padding: 0.5em 1em;
    font-weight: bold;
    background-color: #F7EFE3; /* 生成色（Kinari-iro） */
    color: #00081A;  /* 檳榔子黒（Binroujikuro）*/
    border: solid #83CCD2; /* 白藍（Shiraai） */
    border-width: 1.5px 1.5px 3px 5px;
    border-radius: 10px;
}

div.box p {
    margin: 0; 
    padding: 0;
}

div.contents {
    margin: 2.0rem;
    padding-top: 1rem;
}

div.userinfo p {
    display: inline-block;
}

div.bookinfo {
    display: inline-block;
}

div.bookinfo p {
    display: inline-block;
}

div.bookinfo button.bookmark-btn {
    font-size:0;
    background-color: #FDFCF5; /* 白百合色（Shirayuri-iro） */
    color: #FDFCF5; /* 白百合色（Shirayuri-iro） */
    vertical-align: top;
    position: absolute;
    /* top: 6.0rem; */
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

div.bookinfo button.bookmark-btn:hover {
    opacity: 0.7;
    background-color: #727171; /* 鈍色（Nibi-iro） */
}

p.time {
    font-size: 80%;
}

div.post {
    margin: 1.5rem;
    text-align: center;
}

div.rakuten-books a{
    color: #f00;
}

/*
div.post_comment {
    position: fixed;
    bottom: 2.0rem;
    top: 10rem;
    margin: 2.0rem;
    display: inline-block;
}
*/
div.edit {
    display: inline-block;
}

.edit-checkbox {
    display: none;
}

#edit-icon {
    cursor: pointer;
    display: inline-block;
    top: 1.0rem;
    background: #FCF5F7; /* 薄桜（Usuzakura） */
    color: #00081A; /* 檳榔子黒（Binroujikuro）*/
    font-size: 1.0rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#edit-icon:hover {
opacity: 0.8;
}

#editbox {
    display: none;
    overflow: auto;
    height: 100%;
    color: #00081A; /* 檳榔子黒（Binroujikuro）*/
}
  
.edit-checkbox:checked ~ #editbox {
    display: block;
    overflow: auto;
}

.delete-checkbox {
    display: none;
}

#delete-icon {
    cursor: pointer;
    display: inline-block;
    top: 1.0rem;
    background: #FCF5F7; /* 薄桜（Usuzakura） */
    color: #00081A; /* 檳榔子黒（Binroujikuro）*/
    font-size: 1.0rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#delete-icon:hover {
    opacity: 0.8;
}

#deletebox {
    display: none;
    overflow: auto;
    width: 12rem;
    padding-right: 2.5rem;
    height: 100%;
    color: #00081A; /* 檳榔子黒（Binroujikuro）*/
}
  
.delete-checkbox:checked ~ #deletebox {
    display: block;
    overflow: auto;
}

#cancel-icon {
    cursor: pointer;
    display: inline-block;
    top: 1.0rem;
    position: relative;
    top: 0;
    left: 95%;
    background: #FCF5F7; /* 薄桜（Usuzakura） */
    color: #00081A; /* 檳榔子黒（Binroujikuro）*/
    font-size: 1.0rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* popup style */
#comment-btn-checkbox {
  display: none;
}

#comment-float-btn {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.comment-btn-img {
  width: 60px;
  height: 60px;
  max-width: 100%;
}

#popup {
    display: none;
    display:none;
    position:fixed;
    bottom: -10%;
    left: 50%;
    width: 50%;
    padding: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #C8D5BB;
    opacity: 0.9;
}

#comment-btn-checkbox:checked ~ #popup {
    display:block;
    transition:.2s;
}

#popup textarea {
    width: 80%;
    height: 100px;
}

#popup input[type="text"] {
    width: 80%;
}
