.auth-form {
  font-size: 14px;
  font-family: Roboto,sans-serif;
  max-width: 400px;
}
.auth-form label {
  margin-bottom: 0;
}
.auth-form input[type='text'], input[type='password'], input {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #606060;
  border-radius: 0.25rem;
}
.login-error-text {
  color: #ff0000;
  font-size: 12px;
  padding: 1px 0 5px 0;
}
.login-text-div {
  padding: 12px;
}
.login-error-text ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.alert-text {
  font-size: 14px;
}
.auth-button {
  margin-top: 10px;
}
.logout-content {
  text-align: center;
}