@charset "utf-8";

/* Main */
main {
  padding: 0.5em;
  background: #fff;
}

.img-selection input[type="radio"] {
    display: none;
}

.img-selection img {
  margin: 3px;
  padding: 3px;
  width: 60px;
  height: 60px;
}

.img-selection input[type="radio"]:checked + label img {
  background: blue;
}
