@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer, main, aside {
  display: block;
}

#wrapper {
  min-width: 320px;
}

header {
  padding: 10px;
  background: #000;
  color: #fff;
}

#logo-img {
}

#signup-btn, #signin-btn, #menu-btn {
}

#drawer-checkbox {
  display: none;
}

#drawer-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: #f00;
}

#drawer-content {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  max-width: 90%;
  height: 100%;
  background: #333;
  color: #fff;
}

#drawer-checkbox:checked ~ #drawer-content {
  display: block;
  overflow: auto;
}

.menu-item {
}

#content {
  width: 100%;
  min-width: 320px;
  margin: 2em 0;
  padding: 0 0.5em;
}

/* Main */
main {
  padding: 0.5em;
  background: #fff;
}

.scroll-list {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  direction: rtl;
  overflow-x: auto;
  white-space: nowrap;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.post-box {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  min-width: 120px;
  max-width: 1000px;
  /* width: auto; */
  height: 600px;
  background: #ddd;
  /* direction: ltr; */
  white-space: nowrap;

}

.post-box .box-primary {
  display: inline-block;
  vertical-align: top;
}

.post-box .box-secondary {
  display: inline-block;
  vertical-align: top;
}

.post-box .cover-img {
  vertical-align: top;
  width: 60px;
  height: 60px;
  background: #f00;
}

.cover-img img {
  width: 60px;
  height: 60px;
}

.post-box .bookmark-btn {
  vertical-align: top;
  width: 60px;
  height: 60px;
}

.post-box .sentence {
  vertical-align: top;
  height: 80%;
  direction: ltr;
  text-align: left;
  white-space: normal;
  writing-mode: vertical-rl;
}

.post-box .wokashi {
  vertical-align: top;
  width: 60px;
  height: 30px;
  direction: ltr;
}

.post-box .ahare {
  vertical-align: top;
  width: 60px;
  height: 30px;
  direction: ltr;
}

.post-box .source {
  height: 400px;
}

.post-box .author-name {
  display: inline-block;
  vertical-align: top;
  height: 80%;
  direction: ltr;
  text-align: left;
  white-space: normal;
  writing-mode: vertical-rl;
}

.post-box .book-name {
  display: inline-block;
  vertical-align: top;
  height: 80%;
  direction: ltr;
  text-align: left;
  white-space: normal;
  writing-mode: vertical-rl;
}

.fixed-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  /* padding: 6px 40px; */
}

/* Desktop */
@media (min-width: 768px) {
  #content {
    max-width: 1200px;
    margin: 2em auto;
  }
}
