<!-- Created by Yamamoto Sota -->

{% extends "base_header.html" %}
{% load static %}

<!DOCTYPE html>
<html kang="ja">
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'posts/thread.css' %}">
		    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
        <title>スレッド画面</title>
        {% endblock head %}
    </head>
    <body>
      {% block contents %}
        <div class = "post">
            <P class = "post">
                <img src="{{ book.cover_path }}" class="bookicon" alt="bookicon" align="middle">
                {{ post.content }}

                <div class = "bookinfo">
                  <p class = "author">- {{ book.author }} </p>
                  <p class = "booktitle">{{ book.title }}</p>
                  <form action="{% url 'bookmark'%}" method="post">
                      <button type="submit" name="post_id" value={{post.id}} class="bookmark-btn">
                          {% if bookmark_flag is False %}
                              <img src="{% static 'posts/img/bookmark0.svg' %}">
                          {% else %}
                              <img src="{% static 'posts/img/bookmark.svg' %}">
                          {% endif %}
                          {% csrf_token %}
                      </button>
                  </form>
                </div>
            </P>
        </div>
        <div class = "contents">
          {% if zipped_comments %}
            <ul>
              {% for comment, user, num_nice, comment_perm in zipped_comments %}
                <div class = "box">
                  <div class = "comment">
                    <div class = "userinfo">
                        <p class = "username">{{ user.username }}</p>
                        <p class = "time">{{ post.updated_at }}</p>
                    </div>
                    <p>
                        <p class = "id">{{ comment.id }}</p>
                        <p class = "comment">{{ comment.comment }}</p>
                    </p>
                    <div class="edit">
                      {% if comment_perm %}
                        <input class="edit-checkbox" id="edit-checkbox-{{ comment.id }}" type="checkbox">
                          <button id="edit-icon"><label for="edit-checkbox-{{ comment.id }}"> 編集 </label></button>
                          <div id="editbox">
                            <button class="cancel-icon" id="cancel-icon-{{ comment.id }}"><label for="edit-checkbox-{{ comment.id }}">　×　</label></button>
                            <form action="{% url 'comment_edit' comment.id %}" method="post">
                              {% csrf_token %}
                              <textarea name="comment" rows="8" cols="150">{{ comment.comment }}</textarea>
                              <br>
                              <input type="submit" value="変更">
                              <br>
                            </form>
                          </div>
                        <input class="delete-checkbox" id="delete-checkbox-{{ comment.id }}" type="checkbox">
                        <button id="delete-icon"><label for="delete-checkbox-{{ comment.id }}"> 削除 </label></button>
                        <div id="deletebox">
                          <button id="cancel-icon"><label for="delete-checkbox-{{ comment.id }}">　×　</label></button>
                          <form action="{% url 'comment_delete' comment.id %}" method="post">
                            {% csrf_token %}
                            <p>削除しますか？<br><input type="submit" value="はい"></p>
                          </form>
                        </div>
                      {% endif %}
                    </div>
                    <br><br>
                    <form action="{% url 'nice' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden", name='comment_id', value={{ comment.id }}>
                    <input type="submit" value="いいね！">
                    {{ num_nice }}
                    </form>
                  </div>
                </div>
              {% endfor %}
            </ul>
          {% else %}
            <p>No comments are available.</p>
          {% endif %}
        </div>

        <!-- Comment form -->
        {% if user.is_authenticated %}
            <div class = "post_comment">
              <!-- Written by Naoki Hirabayashi -->
              <!-- Updated by Yamamoto Sota -->
              <input type="checkbox" class="fixed-btn" name="show-popup">
              <div id="popup">
                <form method="POST" action="{% url 'comment_create' post.id %}">
                    <p class="username">
                      <img src="{% static 'posts/img/bookusagi.png' %}" width="55px" class="icon" alt="icon" align="middle">
                      {{ user.username }}
                    </p>
                    <textarea name="comment" rows="8" cols="100" placeholder="本についての感想を語り合おう。"></textarea>
                    {% csrf_token %}
                    <br><br>
                    <input type="submit" name="btn1" value="投稿する">
                </form>
              </div>
            </div>
        {% endif %}

      {% endblock contents %}
    </body>
</html>
