<!-- Created by Naoki Hirabayashi -->
<!-- Made a templates extends by Yamamoto Sota -->

{% extends "base_header.html" %}
{% load static %}
<!doctype html>
<html>

<head>
  {% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/signup.css' %}">
  <title>サインアップ画面</title>
  {% endblock head %}
</head>

<body>
  {% block contents %}
  <main>
    <div id="form-wrapper">
      <h2 class="title">アカウント登録</h2>

      <div margin-bottom="20px">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>

      <form action="{% url 'create_account' %}" method="post">
        {% csrf_token %}
        <ul class="form-ul">
          {% for field in form %}
          <li class="form-li">
            <p>{{ field.label_tag }}</p>

            {{ field }}

            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </li>
          {% endfor %}

          <li class="form-li">
            <div class="img-selection">
              <input id="img-choice1" type="radio" name="user_img" value="1">
              <label for="img-choice1">
                <img src={% static 'img/user_icon_1.png'%}>
              </label>

              <input id="img-choice2" type="radio" name="user_img" value="2">
              <label for="img-choice2">
                <img src={% static 'img/user_icon_2.png'%}>
              </label>

              <input id="img-choice3" type="radio" name="user_img" value="3">
              <label for="img-choice3">
                <img src={% static 'img/user_icon_3.png'%}>
              </label>

              <input id="img-choice4" type="radio" name="user_img" value="4">
              <label for="img-choice4">
                <img src={% static 'img/user_icon_4.png'%}>
              </label>

              <input id="img-choice5" type="radio" name="user_img" value="5">
              <label for="img-choice5">
                <img src={% static 'img/user_icon_5.png'%}>
              </label>
            </div>
          </li>

          <li class="form-li">
            <input type="submit" value="サインアップ" class="enter-btn">
          </li>
        </ul>
      </form>
    </div>
  </main>
  {% endblock contents %}
</body>
</html>
