<!-- Created by Yamamoto Sota -->

{% load static %}

<!DOCTYPE html>
<html kang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'posts/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/thread.css' %}">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
        <title>スレッド画面</title>
    </head>
    <body>
        <header>
            <div id="logo-img">サービス名</div>
      
            <button id="signup-btn" onclick="location.href=''">サインアップ</button>
            <button id="signin-btn">サインイン</button>
      
            <input id="drawer-checkbox" type="checkbox">
            <label id="drawer-icon" for="drawer-checkbox">メニュー</label>
            <div id="drawer-content">
              <div class="menu-item">メニュー</div>
              <div class="menu-item">しおり</div>
              <div class="menu-item">週間をかしランキング</div>
              <div class="menu-item">週間あはれランキング</div>
            </div>
        </header>
        <div class = "post">
            <P class = "post">
                <img src="img/book.png" class="bookicon" alt="bookicon" align="middle">
                {{ post.content }}
            </P>
            <div class = "bookinfo">
              <!-- TODO: Get book information-->
                <p class = "author">- 朝永信一郎 </p>
                <p class = "booktitle">「見える光、見えない光」</p>
            </div>
        </div>
        <div class = "contents">
            <div class = "box">
            <div class = "comment">
                <div class = "userinfo">
                    <p class = "username">Yamamoto Sota</p>
                    <p class = "time">{{ post.updated_at }}</p>
                </div>
            {% if zipped_comments %}
              <ul>
                {% for comment, num_nice, comment_perm in zipped_comments %}
                  <p>
                      <p class = "id">1：</p>
                      <p class = "comment">{{ comment.comment }}</p>
                  </p>
                  <form action="{% url 'nice' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden", name='comment_id', value={{ comment.id }}>
                  <input type="submit" value="いいね！">
                  {{ num_nice }}
                  </form>
                  {% if comment_perm %}
                    hoge
                  {% endif %}
                {% endfor %}
              </ul>
            {% else %}
              <p>No comments are available.</p>
            {% endif %}
            </div>
        </div>
        <div class = "post_comment">
          <form method="POST" action="{% url 'hoge' post.id %}">
                <p class="username">
                <img src="img/bookusagi.png" width="55px" class="icon" alt="icon" align="middle">
                Username
                </p>
                <textarea name="comment" rows="8" cols="100">
                </textarea>
                {% csrf_token %}
                <br><br>
                <input type="submit" name="btn1" value="投稿する">
            </form>
        </div>
        <button class="fixed-btn">投稿</button>
    </body>
</html>
